#page-loading{
  background:#3B78CB88;
  touch-action:none;
  z-index:9;
}
.pl-icon{
  height:4em;
  width:4em;
  border-radius:50%;
  border:2px solid #ffffff;
  border-left:2px solid #00000000;
  position: absolute;
  left:50%;
  top:50%;
  animation:2s load-anim cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes load-anim{
   0%{transform:translate(-50%,-50%) rotate(0);}
   50%{border:1px solid #000000;}
   100%{transform:translate(-50%,-50%) rotate(360deg);}
}

.pl-text{
  outline: 1px solid #333333;
  position: absolute;
  top:1em;
  margin-left:1em;
  font-size: 1em;
  line-height:1.2em;
  text-align: center;
  font-family: monospace;
  color:#ffffff;
}
.pl-text::before{
  position: relative;
  content:"\\";
  padding: 0 3px;
  font-size:1em;
  background: #333333;
  animation:.5s load-anim2 infinite;
}

@keyframes load-anim2{
  50%{content:"/";};
}