@import "./loading-page.css";
*{  
  margin: 0;
  padding: 0;
  outline: 0px solid #ff0000;
} 
body{
  margin: 0;
  background:#3B78CB;
  color :#fffffd;
  font-family: sans-serif;
}

#canv0{
    background: url('../res/cvsback.png'), url('../res/moon.jpg');
    /* touch-action: none; */
    background-size: cover;
}



/*/
#overCvs{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
#menu-icon{
    position: fixed;
    color: white;
    bottom: 10px;
    right: 30px;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
}
#menu-list-container{
    height: 70vh;
    width: 30vw;
    position: absolute;
    bottom: 70px;
    right: -100vw;
    color: blanchedalmond;
    background: rgb(10, 170, 77);
    border-radius: 10px;
    transition: 0.2s linear;
}
#menu-list{
    list-style: none;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-list-item{
     padding:0 1rem; 
    margin: 0 auto;
    user-select: none;
    font-size: 2rem;
} */